 * {
      box-sizing: border-box;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
      color: white;
    }

    body {
      margin: 0;
      background: #000000;
      line-height: 1.5;
    }

    header {
      background: #000000;
      color: #ffffff;
      padding: 4px;
      text-align: center;
      font-size: 28px;
      grid-area: header;
    }

    .container {
      display: grid;
      grid-template-columns: 478px 478px 478px 478px;
      grid-template-rows: 1px 330px 400px 100px;
      grid-template-areas:
      "header header header header"
      "nav-A nav-B nav-B nav-C"
      "nav-A nav-B nav-B nav-C" 
      "footer footer footer footer";
      height: 79vh;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 25px;
    }

    .nav-A {
      grid-area: nav-A;
      text-align: center;
      background-color: #111c3a;
      height: 750px;
    }

    .nav-B {
      grid-area: nav-B;
      text-align: center;
      background-color: #394d1a;
      height: 750px;
    }

    .nav-C {
      grid-area: nav-C;
      text-align: center;
      background-color: rgb(92, 58, 58);
      height: 750px;
    }

    footer {
      grid-area: footer;
      text-align: center;
      padding: 20px;
      background: #181f61;
      font-size: 30px;
    }
    
    img {
        height: 450px;
        width: 450px;
    }